<!DOCTYPE html>

<html><!--STATUS OK--><head><meta aaaaaa-equiv="Content-Type" content="text/html; charset=UTF-8">   <title>注册帐号</title> 
<link rel="shortcut icon" href="" type="image/x-icon">    

<script>
            window.wpo={start:new Date*1,pid:109,page:'passport'};
            var _hmt = _hmt || [];
        </script> 
        <link href="<@@$smarty.const.CSS_URL@@>base.css" type="text/css" rel="stylesheet"> 
        <link href="<@@$smarty.const.CSS_URL@@>ui.css" type="text/css" rel="stylesheet">   
        <link href="<@@$smarty.const.CSS_URL@@>boot_reg_219227cf.css" type="text/css" rel="stylesheet"> 
        <script type="text/javascript" charset="UTF-8" src="<@@$smarty.const.JS_URL@@>reg_tangram_51aba8bb.js"></script><script type="text/javascript" charset="utf-8" src="<@@$smarty.const.OTHER_URL@@>saved_resource"></script><style>.pass-item-placeholder{color: #ABABAB;cursor: text;display: block;font-size: 12px;height: 20px;left: 163px;line-height: 20px;position: absolute;top: 5px;width: 160px;}.pass-item-placeholder-inactive{color:#ccc;}</style>
        <script type="text/javascript" charset="utf-8" src="<@@$smarty.const.OTHER_URL@@>saved_resource(1)"></script>
        <script type="text/javascript" charset="utf-8" src="<@@$smarty.const.OTHER_URL@@>saved_resource(2)"></script>
        <script type="text/javascript" charset="utf-8" src="<@@$smarty.const.OTHER_URL@@>saved_resource(3)"></script>
        <script type="text/javascript" charset="utf-8" src="<@@$smarty.const.OTHER_URL@@>saved_resource(4)"></script>
        <script type="text/javascript" charset="utf-8" src="<@@$smarty.const.OTHER_URL@@>saved_resource(5)"></script>
        <script type="text/javascript" charset="utf-8" src="<@@$smarty.const.OTHER_URL@@>saved_resource(6)"></script>
        <script type="text/javascript" charset="utf-8" src="<@@$smarty.const.OTHER_URL@@>saved_resource(7)"></script></head> 
        <body>

        <div class="tang-popup tang-suggestion-popup" id="TANGRAM__PSP_15__" style="position: absolute; z-index: 50001; top: 174px; left: 239px; width: 350px; display: none;">
        <div class="tang-background" id="TANGRAM__PSP_16__" style="position:absolute; top:0px; left:0px;width:100%;height:100%;z-index:-9; -webkit-user-select:none; -moz-user-select:none;" onselectstart="return false">
        <div class="tang-background-inner" style="width:100%;height:100%;" id="TANGRAM__PSP_16__inner"></div></div>
        <div class="tang-foreground" id="TANGRAM__PSP_15__content"><table cellspacing="0" cellpadding="2" class="tang-suggestion-table"><tbody><tr><td id="TANGRAM__PSP_12__item0" onmouseover="bdInst_1429970547403(&#39;TANGRAM__PSP_12&#39;)._mouseOver(event, 0)" onmouseout="bdInst_1429970547403(&#39;TANGRAM__PSP_12&#39;)._mouseOut(event, 0)" onmousedown="bdInst_1429970547403(&#39;TANGRAM__PSP_12&#39;)._mouseDown(event, 0)" onclick="bdInst_1429970547403(&#39;TANGRAM__PSP_12&#39;)._mouseClick(event, 0)" class=""></td></tr><tr><td id="TANGRAM__PSP_12__item1" onmouseover="bdInst_1429970547403(&#39;TANGRAM__PSP_12&#39;)._mouseOver(event, 1)" onmouseout="bdInst_1429970547403(&#39;TANGRAM__PSP_12&#39;)._mouseOut(event, 1)" onmousedown="bdInst_1429970547403(&#39;TANGRAM__PSP_12&#39;)._mouseDown(event, 1)" onclick="bdInst_1429970547403(&#39;TANGRAM__PSP_12&#39;)._mouseClick(event, 1)" class="">771878905@vip.qq.com</td></tr></tbody></table></div></div> 
        <div id="wrapper" class=""> 
        <div id="head">  
        <div class="mod-header"> <a href="" style="display: block;"><img src="<@@$smarty.const.IMG_URL@@>logo-nuomi.png" alt="logo"></a></div>  </div> 
        <div id="nav">    
        <div class="nav-2"> 
        <div class="mod-nav clearfix"> <h1 class="page-type-notab"></h1>  </div></div>   </div> 
        <div id="content"> 
        <div class="mod-reg clearfix mod-reg-pink"> 
        <div class="reg-content tang-pass-reg" id="reg_content">
        <form autocomplete="off" id="TANGRAM__PSP_4__form" method="POST">
        <p id="TANGRAM__PSP_4__errorWrapper" class="pass-generalErrorWrapper">
        <span id="TANGRAM__PSP_4__error" class="pass-generalError"></span></p>
        <p id="TANGRAM__PSP_4__hiddenFields" style="display:none">
        <input type="hidden" id="TANGRAM__PSP_4__retu" name="retu" value="aaaaaa://bj.nuomi.com/">
        <input type="hidden" id="TANGRAM__PSP_4__u" name="u" value="">
        <input type="hidden" id="TANGRAM__PSP_4__quick_user" name="quick_user" value="0">
        <input type="hidden" id="TANGRAM__PSP_4__regMerge" name="regMerge" value="true">
        <input type="hidden" id="TANGRAM__PSP_4__suggestIndex" name="suggestIndex" value="">
        <input type="hidden" id="TANGRAM__PSP_4__suggestType" name="suggestType" value="">
        <input type="hidden" id="TANGRAM__PSP_4__codeString" name="codeString" value="captchaservice636164394c53534a6457497656534c6d345255465749687231324a4937343062447a3137393573356d62527a6d7851394c705444695a63426a6a576b347271774751532b787061726544537434344f534746722f352b49737553676a4643374e62544d6e546530614667496254667477386d50765a6b792b3847704d476f5331786f5342672f46305174396f7266677745485172646e5374697a415754364c3449316d6d4757696353496645324e3966335a4d51506d4c2f6a364f413939664877626363367a44396c554f334962666b6978784c2f34313055475477682b766e4e5832646f6c3165697a5176575572766b487443364e496b4b6e472f7a64394b6a64506d6d477a455a5436656b384d45704e70475269345a31463452764c4943754c2f6c794c674333655a6b">
        <input type="hidden" id="TANGRAM__PSP_4__app" name="app" value="">
        <input type="hidden" id="TANGRAM__PSP_4__staticPage" name="staticPage" value="aaaaaas://passport.baidu.com/static/passpc-account/html/v3Jump.html">
        <input type="hidden" id="TANGRAM__PSP_4__selectedSuggestName" name="selectedSuggestName" value="">
        <input type="hidden" id="TANGRAM__PSP_4__isLowpwdCheck" name="isLowpwdCheck" value="undefined">
        <input type="hidden" id="TANGRAM__PSP_4__logRegType" name="logRegType" value="pc_regBasic">
        <input type="hidden" id="TANGRAM__PSP_4__isexchangeable" name="isexchangeable" value="1">
        <input type="hidden" id="TANGRAM__PSP_4__exchange" name="exchange" value="0">
        <input type="hidden" id="TANGRAM__PSP_4__subpro" name="subpro" value="">
        <input type="hidden" name="sloc" value="" id="TANGRAM__PSP_4__sloc"></p>
        <p id="TANGRAM__PSP_4__accountWrapper" class="pass-form-item pass-form-item-account" style="display:"><label for="TANGRAM__PSP_4__account" id="TANGRAM__PSP_4__accountLabel" class="pass-label pass-label-account">手机/邮箱</label>
        <input id="TANGRAM__PSP_4__account" type="text" name="user_name" class="pass-text-input pass-text-input-account" autocomplete="off" placeholder="手机/邮箱">
        <@@$errorInfo['user_name']|default:''@@>
        <span id="TANGRAM__PSP_4__account_clearbtn" class="pass-clearbtn pass-clearbtn-account" style="display: none; visibility: hidden; opacity: 1;"></span>
        <span id="TANGRAM__PSP_4__accountError" class="pass-item-error pass-item-error-account" style="display: none;">该邮箱已注册可<a href="">直接登录</a>,如忘记密码<a href="">点此处找回</a></span>
        <span id="TANGRAM__PSP_4__accountSucc" class="pass-item-succ pass-item-succ-account" style="display: none;"></span>
        <span id="TANGRAM__PSP_4__accountTip" class="pass-item-tip pass-item-tip-account" style="display:none">
        <span id="TANGRAM__PSP_4__accountTipText" class="pass-item-tiptext pass-item-tiptext-account">请输入中国大陆手机号或常用邮箱,可用于登录和找回密码,注册成功后,全百度通用</span></span>
        <span class="pass-item-placeholder" id="TANGRAM__PSP_4__Placeholder" style="display: inline;">手机/邮箱</span></p>
        <p id="TANGRAM__PSP_4__passwordWrapper" class="pass-form-item pass-form-item-password" style="display:"><label for="TANGRAM__PSP_4__password" id="TANGRAM__PSP_4__passwordLabel" class="pass-label pass-label-password">密码</label>
        <input id="TANGRAM__PSP_4__password" type="password" name="user_pswd" class="pass-text-input pass-text-input-password" autocomplete="off" placeholder="密码">
        <@@$errorInfo['user_pswd']|default:''@@>
        <span id="TANGRAM__PSP_4__password_clearbtn" class="pass-clearbtn pass-clearbtn-password" style="display: none; visibility: hidden; opacity: 1;"></span>
        <span id="TANGRAM__PSP_4__passwordError" class="pass-item-error pass-item-error-password" style="display: none;">
        <span class="pwd-strength middle">
        <span class="pwd-strength-sum"><em class="pwd-strength-bg">&nbsp;</em><em class="pwd-strength-sco">&nbsp;</em>
        <span class="pwd-strength-title">中</span></span>
        <span class="pwd-strength-detail">您的密码还可以更复杂些</span></span></span>
        <span id="TANGRAM__PSP_4__passwordSucc" class="pass-item-succ pass-item-succ-password" style="display:none;"></span>
        <span id="TANGRAM__PSP_4__passwordTip" class="pass-item-tip pass-item-tip-password" style="display: none;">
        <span id="TANGRAM__PSP_4__passwordTipText" class="pass-item-tiptext pass-item-tiptext-password">
        <div class="pwd-checklist-wrapper">
        <span class="pwd-checklist-arrow"><em class="arrowa"></em><em class="arrowb"></em></span><ul id="TANGRAM__PSP_4__pwdChecklist" class="pwd-checklist">
        <li id="TANGRAM__PSP_4__pwd_checklist_len" data-rule="len" class="pwd-checklist-item">长度为6~14个字符</li>
        <li id="TANGRAM__PSP_4__pwd_checklist_cha" data-rule="cha" class="pwd-checklist-item">支持数字,大小写字母和标点符号</li>
        <li id="TANGRAM__PSP_4__pwd_checklist_spa" data-rule="spa" class="pwd-checklist-item">不允许有空格</li></ul></div></span></span></p>
        <p id="TANGRAM__PSP_4__verifyCodeImgWrapper" class="pass-form-item pass-form-item-verifyCode" style="display: block;"><label for="TANGRAM__PSP_4__verifyCode" id="TANGRAM__PSP_4__verifyCodeLabel" class="pass-label pass-label-verifyCode">验证码</label>
        <input id="TANGRAM__PSP_4__verifyCode" type="text" name="verifyCode" class="pass-text-input pass-text-input-verifyCode" autocomplete="off" placeholder="验证码">
        <span id="TANGRAM__PSP_4__verifyCode_clearbtn" class="pass-clearbtn pass-clearbtn-verifyCode" style="display:none;"></span>
        <span><img id="TANGRAM__PSP_4__verifyCodeImg" title="验证码图片" alt="验证码图片" class="pass-verifyCode" src="<@@$smarty.const.__CONTROLLER__@@>/verifyImg"></span><a id="TANGRAM__PSP_4__verifyCodeChange" class="pass-change-verifyCode">换一张</a><@@$errorCode@@>
        <input id="TANGRAM__PSP_4__verifyCodeSend" type="button" value="免费获取激活短信" class="pass-button pass-button-verifyCodeSend" autocomplete="off" style="display: none;">
        <span id="TANGRAM__PSP_4__verifyCodeSendTip" class="pass-item-tip pass-item-tip-verifyCodeSend" style="display: none;"></span>
        <span id="TANGRAM__PSP_4__verifyCodeError" class="pass-item-error pass-item-error-verifyCode"></span>
        <span id="TANGRAM__PSP_4__verifyCodeTip" class="pass-item-tip pass-item-tip-verifyCode" style="display:none;">
        <span id="TANGRAM__PSP_4__verifyCodeTipText" class="pass-item-tiptext pass-item-tiptext-verifycode">请输入图片中的字符,不区分大小写</span></span></p>
        <p id="TANGRAM__PSP_4__isAgreeWrapper" class="pass-form-item pass-form-item-isAgree">
        <input name="isAgree" id="TANGRAM__PSP_4__isAgree" type="checkbox" checked="checked" class="pass-checkbox-input pass-checkbox-isAgree" autocomplete="off"><label for="TANGRAM__PSP_4__isAgree">我已阅读并接受</label><a target="_blank" href="">《百度用户协议》</a></p>
        <p id="TANGRAM__PSP_4__submitWrapper" class="pass-form-item pass-form-item-submit">
        <input id="TANGRAM__PSP_4__submit" type="submit" value="注册" class="pass-button pass-button-submit">
        <span id="TANGRAM__PSP_4__isAgreeError" class="pass-item-error pass-item-error-isAgree"></span></p>
        <div id="TANGRAM__PSP_4__tip" class="pass-pop-tip" style="left: 420px; top: 102px; display: none;">
        <div class="pass-pop-tip-header"></div>
        <div class="pass-pop-tip-container">
        <div class="pass-pop-tip-body">
        <div class="pass-pop-tip-content" id="TANGRAM__PSP_4__tipContainer"></div></div></div></div></form></div> 
        <div class="reg-sms"> <h3 class="reg-sms-title">手机快速注册</h3> 
        <div class="reg-sms-content"> 
        <p class="reg-sms-p reg-sms-p-text">请使用中国大陆手机号，编辑短信：</p> 
        <p class="reg-sms-p reg-sms-p-warn">6-14位字符（支持数字/字母/符号）</p> 
        <p class="reg-sms-p reg-sms-p-text">作为登录密码，发送至：</p> 
        <p class="reg-sms-p reg-sms-p-warn">1069 80000 36590</p> 
        <p class="reg-sms-p reg-sms-p-last">即可注册成功，手机号即为登录帐号。</p> </div> </div> 
        <div class="login-link" id="login_link"> 
        <span>我已注册，现在就</span>
        <button class="login-btn" id="login_btn"  onclick="javascript:location.href='<@@$smarty.const.__CONTROLLER__@@>/login.html'">登录</button> </div></div> </div> 
        <div id="foot">  
        <div class="mod-footer"> 
        <div class="copy-box">2015&nbsp;©Baidu</div></div>  </div> </div>  
        <script src="<@@$smarty.const.JS_URL@@>uni_wrapper.js"></script>
        <script src="<@@$smarty.const.JS_URL@@>core.js"></script>   
        <script src="<@@$smarty.const.JS_URL@@>ui.js"></script> 
        <script src="<@@$smarty.const.JS_URL@@>wrapper.js"></script>

        <script>
(function($,ns){
    ns.options = {
        product:'nuomi'
        ,u:''
        ,userName:true
        ,color:'pink'
        ,subpro:''
        ,noreal_u:'aaaaaa:\/\/bj.nuomi.com\/'
        ,retu:'aaaaaa:\/\/bj.nuomi.com\/'
        ,staticPage:document.location.protocol + '//' + document.location.host+'/static/passpc-account/html/v3Jump.html'
        ,noUsername:'1'
        ,registerLink:'/v2/?reg&u=aaaaaa:\/\/bj.nuomi.com\/&tpl=nuomi'
        ,qrcode:2
        ,sms:false        ,regMerge:true
        ,regMergeUserName:false
        ,hasPlaceholder:true
        ,hasPasswordcheck:true
        ,isexchangeable:1
    }
    ns.defaultAccount = '';
    ns.isSchoolReg  = '';
    ns.hasAuthsite  = '';
})(baidu,window.Pass)
</script>
<script src="<@@$smarty.const.JS_URL@@>tpl2logourl.js"></script>
<script src="<@@$smarty.const.JS_URL@@>boot_reg_3dde5605.js"></script>   

<script>            
        (function($, ns) {
            var require = ns.require;
            var feedback = require('ui/feedback/feedback');
            var feed = new feedback();
        })(window.baidu,window.Pass);
        </script><a class="mod-feedback clearfix" id="mod_feedback" href="" target="_blank" style="position: fixed; top: 249px;">
        <div class="feedback-inner">意见反馈</div></a>  

        <script>
        _hmt.push(['_setAutoPageview', false]);
        (function(){
            try{
                var tjstr = location.search,tjarr2 = [],tjresult = '';
                if(tjstr){
                    var tjarr = tjstr.slice(1).split('&');
                    for(var i = 0,len = tjarr.length;i<len;i++){
                        var query = tjarr[i].split('=')[0];
                        if(query != 't' && query != '_t'){
                            tjarr2.push(tjarr[i])
                        }
                    }
                }
                tjresult = location.pathname + (tjarr2.length > 0 ? ('?'+tjarr2.join('&')) : '')           
            }catch(e) {
                var tjresult = location.pathname
            }
            _hmt.push(['_trackPageview', tjresult]);
        })()
        var _bdhmProtocol = (("aaaaaas:" == document.location.protocol) ? " aaaaaas://" : " aaaaaa://"); 
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F90056b3f84f90da57dc0f40150f005d5' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script src="<@@$smarty.const.JS_URL@@>h.js" type="text/javascript"></script>  

        <script>wpo.tti=new Date*1;</script> </body></html>